body {
    width: 100%;
    margin: 0;
    font-family: Montserrat,Helvetica Neue,Arial,sans-serif;
    background-color: #F0F0F0;
}

.title {
    height: 30px;
    width: 12%;
    padding: 12px 0px 8px 40px;
    font-weight: 800;
    color: #808080;
    display: inline-block;
}

.name {
    width: 85%;
    font-weight: 800;
    color: #808080;
    display: inline-block;
}

hr {
    margin: 0px 30px 0px 30px;
    text-align: center;
}

/* main---------------------------------------------------------------------------------*/

main {
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

/* main ticker box---------------------------------------------------------------------*/

.share {
    	background-color: white;
	width: 25%;
	height: 400px;
	display: inline-block;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 8px;
}

.share_top {
	width: 100%;
	height: 25%;
	padding-top: 12px;
	background-color: white;
	border-radius: 8px 8px 0px 0px;
	box-sizing: border-box;
	colour: black;
}

.share_main {
	width: 100%;
	height: 75%;
	background-color: #03a9f4;
	border-radius: 0px 0px 8px 8px;
	display: inline-block;
	color: white;
}

.share_mid {
	width: 100%;
	height: 25%;
	padding-top: 18px;
	padding-bottom: 8px
	box-sizing: border-box;
}

.share_bottom {
	width: 100%;
	height: 25%;
	border-radius: 0px 0px 8px 8px;
	padding-top: 18px;
	padding-bottom: 8px;
	box-sizing: border-box;
}

.tick {
	width: 100%;
	margin: 0px;
	padding-top: 26px;
}

h2 {
	width: 100%;
	display: inline-block;
}

/*graph box----------------------------------------------------------------------------*/

.news {
    background-color: white;
    width: 50%;
    margin-left: 100px;
    height: 400px;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
}

.holder {
    width: 50vw;
    height: 100%!important;
    border-radius: inherit;
    position: relative;
    margin: auto;
}

/* List of tickers box---------------------------------------------------------------*/

.tickers {
	margin-top: 50px;
	background-color: white;
	display: inline-block;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 8px;
	width: 75%;
	height: 50px;
}

/* Footer---------------------------------------------------------------------------*/


















