body {
    width: 100%;
    margin: 0;
    font-family: Montserrat,Helvetica Neue,Arial,sans-serif;
    background-color: #F0F0F0;
}

.title {
    height: 30px;
    width: 12%;
    padding: 12px 0px 8px 40px;
    font-weight: 800;
    color: #808080;
    display: inline-block;
}

.name {
    width: 80%;
    font-weight: 800;
    color: #808080;
    display: inline-block;
    padding-left: 40px;
    display: inline-block;
}

hr {
    margin: 0px 30px 0px 30px;
    text-align: center;
}

/* main---------------------------------------------------------------------------------*/

main {
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

/* main ticker box---------------------------------------------------------------------*/

.both {
	width: 100%;
	height: 400px;
}

.share {
    background-color: white;
	width: 25%;
	height: 400px;
	display: inline-block;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 8px;
}

.share_top {
	width: 100%;
	height: 25%;
	padding-top: 12px;
	background-color: white;
	border-radius: 8px 8px 0px 0px;
	box-sizing: border-box;
	colour: black;
	position: relative;
}

.share_main {
	width: 100%;
	height: 75%;
	background-color: #03a9f4;
	border-radius: 0px 0px 8px 8px;
	display: inline-block;
	color: white;
}

.share_mid {
	width: 100%;
	height: 33%;
	box-sizing: border-box;
	position: relative;
}

.share_bottom {
	width: 100%;
	height: 33%;
	border-radius: 0px 0px 8px 8px;
	box-sizing: border-box;
	position: relative;
}

.tick {
	width: 100%;
	margin: 0px;
	padding-top: 26px;
	position: absolute;
	left: 0px;
	top: 12px;
}

h2 {
	width: 100%;
	display: inline-block;
}

/*graph box----------------------------------------------------------------------------*/

.graph {
    background-color: white;
    width: 50%;
    margin-left: 100px;
    height: 400px;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
}

.holder {
    width: 40vw;
    border-radius: inherit;
    position: relative;
    margin: auto;
}


/* List of tickers box---------------------------------------------------------------*/

.tickers {
	margin-top: 50px;
	background-color: white;
	display: inline-block;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 8px;
	width: 75%;
	height: 50px;
}

.each {
    width: 100%;
    height: 50px;
    border-radius: inherit;
    background-color: black;
    border: 1px solid #F0F0F0;
}

.equal {
    width: 24%;
    height: inherit;
    margin: 0;
    padding: 0;
    display: inline-block;
    color: white;
}

/* Footer---------------------------------------------------------------------------*/


















