<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../static/style.css" rel="stylesheet" type="text/css"/>
    <title>Google Maps practice</title>
</head>

<body>
	<h1>HELLO</h1>

	<div id="map"></div>

	<!--List form api.py with station names, lat and lon coordinates---------------------------------------->
	<script>var latLonStations = {{ latLonStations | safe }};</script>

	 <script async defer
    		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXUnw_66vWdVYo2Cj73v6ZwiIpyjZbdhM&callback=initMap">
	 </script>
	<script src="../static/maps.js"></script>

</body>

</html>